---
import type { HTMLAttributes } from 'astro/types';
import cn from './linear.module.css';

export type Props = HTMLAttributes<'div'>;

const { class: extraClass, ...rest } = Astro.props;
---

<div class:list={[cn.loader, extraClass]} {...rest}></div>
