---
interface Props {
    id?: string;
}

const { id } = Astro.props;
---

<div
    id={id}
    class="h-full animate-loader bg-gradient-to-r from-white from-0% via-light-primary via-50% to-white to-100% bg-[length:25%_100%] bg-center bg-no-repeat dark:via-dark-primary"
>
</div>
