.loader {
    animation: fullSize 2s linear infinite alternate;
    background-image: linear-gradient(
        to right,
        oklch(from var(--color-primary) 0.4 c h),
        oklch(from var(--color-primary) 0.8 c h)
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25% 100%;
    height: 100%;
}

@keyframes fullSize {
    to {
        background-size: 100% 100%;
    }
}
