---
import type { HTMLAttributes } from 'astro/types';
import { loader } from './linear.css';

interface Props extends HTMLAttributes<'div'> {}

const { class: extraClass, ...rest } = Astro.props;
---

<div class:list={[loader, extraClass]} {...rest}></div>
