---
import type { HTMLAttributes } from 'astro/types';
import * as cn from './linear.css';

export type Props = HTMLAttributes<'div'>;

const { class: extraClass, ...rest } = Astro.props;
---

<div class:list={[cn.loader, extraClass]} {...rest}></div>
