.container {
    display: grid;
    gap: var(--spacing-sm);
}

.input {
    background-color: oklch(
        from var(--color-background) calc(l + 0.05) c calc(h + 0.2)
    );
    border-radius: var(--spacing-sm);
    border: none;
    font-size: 0.8em;
    line-height: 1.7;
    padding-left: var(--spacing-sm);

    &::placeholder {
        color: oklch(from var(--color-typography-primary) calc(l + 0.02) c h);
        opacity: 0.6;
    }
}
