---
import type { HTMLAttributes } from 'astro/types';
import cn from './input.module.css';

interface Props extends HTMLAttributes<'input'> {
    label?: string;
}

const { label, class: extraClass, ...rest } = Astro.props;
---

<div class:list={[cn.container, extraClass]}>
    {label && <label for={rest.id}>{label}</label>}
    <input {...rest} class={cn.input} />
</div>
