---
import type { HTMLAttributes } from 'astro/types';
import * as cn from './input.css';

interface Props extends HTMLAttributes<'input'> {
    label?: string;
}

const { label, ...rest } = Astro.props;
---

<label class={cn.container}>
    {label && <span>{label}</span>}
    <input {...rest} class={cn.input} />
</label>
