{
    "*.(ts|tsx)": ["pnpm test related", "pnpm lint"],
    "!(README)*.(md|mdx)": [
        "tsx scripts/update-md-timestamps.runner.ts",
        "pnpm format",
        "cross-env PROD=true pnpm test:e2e --update-snapshots",
        "git add e2e/__screenshots__"
    ]
}
