{
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,

    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],

    "importOrder": ["^~", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,

    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-astro"
    ]
}
