---
import type { HTMLAttributes } from 'astro/types';
import * as cn from './button.css';

type ButtonVariant = 'wrapper' | 'default';

interface Props extends HTMLAttributes<'button'> {
    variant?: ButtonVariant;
}

const { variant = 'default', class: extraClass, ...rest } = Astro.props;
---

<button {...rest} class:list={[cn.button[variant], extraClass]}>
    <slot />
</button>
