.base {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--spacing-xs);
    border: none;
    color: var(--color-background);
    padding: var(--spacing-sm);

    &:active {
        opacity: 0.8;
    }

    &.default {
        background-color: var(--color-primary);

        &:hover {
            background-color: oklch(
                from var(--color-primary) calc(l + 0.1) c h
            );
        }
    }

    &.wrapper {
        background-color: transparent;

        &:hover {
            background-color: oklch(
                from var(--color-background) calc(l + 0.07) c h
            );
        }
    }
}
