---
import type { HTMLAttributes } from 'astro/types';
import cn from './button.module.css';

type ButtonVariant = 'wrapper' | 'default';

interface Props extends HTMLAttributes<'button'> {
    variant?: ButtonVariant;
}

const { variant = 'default', class: extraClass, ...rest } = Astro.props;
---

<button {...rest} class:list={[cn.base, cn[variant], extraClass]}>
    <slot />
</button>
