.container {
    position: relative;
    display: grid;
    gap: var(--spacing-sm);
    grid-template-columns: 1fr auto;
    grid-template-areas: 'input .' 'input button';

    @media (max-width: 360px) {
        grid-template-columns: 1fr;
    }

    .input {
        display: grid;
        gap: var(--spacing-sm);
        grid-area: input;
        grid-template-rows: subgrid;
    }

    .button {
        padding: var(--spacing-xs) var(--spacing-md) !important;
        font-size: 0.9em;
        grid-area: button;
    }

    .loader {
        position: absolute;
        bottom: -8px;
        height: 2px;
        width: 100%;
    }
}
