---
import NotesLayout from '~layouts/note.astro';
import { getNoteData, getNoteMetadata } from '~api/notes';

const { slug } = Astro.params;

if (!slug) {
    throw new Error('No slug found');
}

const metaPromise = getNoteMetadata(slug);
const contentPromise = getNoteData(slug);

const [meta, content] = await Promise.all([metaPromise, contentPromise]);

if (!meta) {
    throw new Error('No meta info found');
}
---

<NotesLayout {...meta}>
    {
        typeof content === 'string' ? (
            <>
                <p>🚧 Remote markdown under construction 🚧</p>
            </>
        ) : (
            <content.Content />
        )
    }
</NotesLayout>
