<noscript>
    <div class="container">
        You seem to have JavaScript disabled, to see the demo working enable it
        in your browser.
    </div>
</noscript>

<style>
    .container {
        background-color: #eed202;
        padding: var(--spacing-md);
        border-radius: var(--spacing-sm);
        color: #000000;
    }
</style>
