---
import Button from '~components/button/button.astro';
import * as cn from './copy-to-clipboard.css';

interface Props {
    prefix?: string;
}

const { prefix } = Astro.props;
---

<copy-to-clipboard hidden>
    {prefix ? `${prefix} - ` : ''}
    <Button class={cn.buttonCn}>Copy to clipboard</Button>
    <div id="target">
        <slot />
    </div>
</copy-to-clipboard>

<script>
    class CopyToClipboard extends HTMLElement {
        copyToClipboard() {
            const targetText =
                this.querySelector('#target')?.textContent?.trim();

            if (targetText) {
                navigator.clipboard.writeText(targetText);
            }
        }

        connectedCallback() {
            this.hidden = false;
            this.addEventListener('click', this.copyToClipboard);
        }

        disconnectedCallback() {
            this.removeEventListener('click', this.copyToClipboard);
        }
    }

    customElements.define('copy-to-clipboard', CopyToClipboard);
</script>
