html,
body {
    line-height: 1.6;
    font-size: 1.1rem;
    scrollbar-gutter: stable both-edges;
    overflow-y: auto;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
        sans-serif;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul,
figure,
blockquote {
    padding: 0;
    margin: 0;
}

.prose svg {
    margin-bottom: 0;
}
