/* @tailwind base; CSS reset */
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 1.1rem;
    scrollbar-gutter: stable both-edges;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

*:focus-visible {
    @apply outline-light-primary;
}

.dark *:focus-visible {
    @apply outline-dark-primary;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul,
figure,
blockquote {
    padding: 0;
    margin: 0;
}

@layer utilities {
    .heading :where(h1, h2) a {
        @apply text-light-primary;
    }

    .dark-heading :where(h1, h2) a {
        @apply text-dark-primary;
    }

    .heading :where(h1, h2),
    .dark-heading :where(h1, h2) {
        scroll-margin-top: 1rem;
    }

    .prose svg {
        @apply mb-0;
    }

    .prose :where(a) {
        @apply decoration-light-primary decoration-2 underline-offset-2;
    }

    .dark .prose :where(a) {
        @apply decoration-dark-primary;
    }
}
