@property --ld {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@property --cd {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@keyframes aurora {
    100% {
        --ld: 0.85;
        --cd: 0.25;
    }
}

.container {
    --ld: 0.9;
    --cd: 0;

    --start-color: oklch(
        from var(--color-primary) calc(l * var(--ld)) calc(c + var(--cd)) h
    );

    --end-color: oklch(
        from var(--color-secondary) calc(l * var(--ld)) calc(c + var(--cd)) h
    );

    background: linear-gradient(
        to right in oklch,
        var(--start-color),
        var(--end-color)
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-size: 2rem;

    @media (prefers-reduced-motion: no-preference) {
        animation: aurora 2s linear infinite alternate;
    }
}
