---
import NotesLayout from '~layouts/note.astro';
import {
    getLessonSummaryData,
    getLessonSummaryMetadata,
} from '~api/lesson-summaries';

const { slug } = Astro.params;

if (!slug) {
    return new Response(null);
}

const contentPromise = getLessonSummaryData(slug);
const metaPromise = getLessonSummaryMetadata(slug);

const [{ content, frontmatter }, meta] = await Promise.all([
    contentPromise,
    metaPromise,
]);

if (!meta) {
    throw new Error('No meta info found');
}

const hasBannerEnabled = Boolean(
    typeof content !== 'string' && frontmatter?.features?.includes('banner'),
);
---

<NotesLayout {...meta} hasBannerEnabled={hasBannerEnabled} backUrl="/summaries">
    {
        typeof content === 'string' ? (
            <>
                <p>🚧 Remote markdown under construction 🚧</p>
            </>
        ) : (
            <content.Content />
        )
    }
</NotesLayout>
