---
import type { NotesCollection } from '~types/notes.types';
import NotesLayout from '~layouts/note.astro';
import {
    getLessonSummaries,
    getLessonSummaryData,
} from '~api/lesson-summaries';

type Content = Awaited<ReturnType<typeof getLessonSummaryData>>;

export async function getStaticPaths() {
    const summaries = await getLessonSummaries();

    if (summaries === null) {
        throw new Error('Could not get lesson summaries');
    }

    return await Promise.all(
        summaries.map(async (summary) => {
            const data = await getLessonSummaryData(summary.filename);

            return {
                params: {
                    slug: summary.filename.replace(/\.mdx$/, ''),
                },
                props: {
                    content: data,
                    meta: summary,
                },
            };
        }),
    );
}

type Props = {
    content: Content;
    meta: NotesCollection['data'];
};

const {
    content: { content, frontmatter },
    meta,
} = Astro.props;

const hasBannerEnabled = Boolean(
    typeof content !== 'string' && frontmatter?.features?.includes('banner'),
);
---

<NotesLayout
    {...meta}
    hasBannerEnabled={hasBannerEnabled}
    backUrl="/lessons-summary"
>
    {
        typeof content === 'string' ? (
            <>
                <p>🚧 Remote markdown under construction 🚧</p>
            </>
        ) : (
            <content.Content />
        )
    }
</NotesLayout>
