---
import GlobalLayout from '~layouts/global.astro';
import NotesList from '~components/notes-list/notes-list.astro';
import Banner from '~components/banner/banner.astro';
import { getNotesByCollection } from '~api/notes';
import * as cn from '~styles/pages/layout.css';
import { TITLE } from '~constants';

const summaries = await getNotesByCollection('summaries', 'created');

if (!summaries) {
    throw new Error('Could not get summaries');
}

const title = `Summaries | ${TITLE}`;
---

<GlobalLayout title={title}>
    <section class={cn.container}>
        <Banner>
            This is where I will try to summarise the things I learn. Either
            from online courses or from an interesting article I read, I keep
            the things I find interesting here.
        </Banner>
        <NotesList baseUrl="summary" display="created" notes={summaries} />
    </section>
</GlobalLayout>
