---
const CELLS_NUM = 125;
const ROWS = 5;
---

<div
    class="wrapper"
    style={`--cells: ${CELLS_NUM}; --columns: ${CELLS_NUM / ROWS}`}
>
    {
        Array.from({ length: CELLS_NUM }).map((_, idx) => (
            <div class="item" style={`--idx: ${idx};`} />
        ))
    }
</div>

<style>
    @keyframes blink {
        0%,
        100% {
            opacity: 0.75;
        }
        50% {
            opacity: 0.25;
        }
    }

    .wrapper {
        --item-stagger: 0.1s;
        --total-stagger: calc(var(--cells) * var(--item-stagger));

        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 0.3rem;
    }

    .item {
        @apply bg-light-primary dark:bg-dark-primary;

        aspect-ratio: 1;
        border-radius: 20%;
        animation: 3s blink infinite alternate ease-in-out;

        animation-delay: calc(
            -1 * var(--total-stagger) + var(--idx) * var(--item-stagger)
        );
    }
</style>
