---
import ThemeSwitch from '~components/theme-switch/theme-switch.astro';
import Logo from '~components/logo/logo.astro';
---

<header
    class="flex w-full items-center justify-between border-b border-solid border-b-light-border dark:border-b-dark-border"
>
    <a
        aria-label="Go to homepage"
        href="/"
        class="my-2 w-40 cursor-pointer rounded-lg p-2 hover:bg-gray-300 hover:no-underline dark:hover:bg-gray-800 xs:w-52"
    >
        <Logo />
    </a>
    <div>
        <ThemeSwitch />
    </div>
</header>
