---
export type Props = {
    links: {
        href: string;
        label: string;
    }[];
};

const { links } = Astro.props;
---

<nav
    class="flex items-center flex-col gap-2 xs:flex-row justify-center xs:gap-10 px-4 text-light-primary dark:text-dark-primary"
>
    {
        links.map((link) => (
            <a
                href={link.href}
                class="decoration-2 underline-offset-2 hover:underline"
            >
                {link.label}
            </a>
        ))
    }
</nav>
