---
import FormattedDate from '~components/formatted-date.astro';

interface Props {
    title: string;
    created: string;
    updated: string;
}

const { title, created, updated } = Astro.props;
---

<h1 class="my-8 text-2xl">{title}</h1>
<div
    class="mb-4 flex flex-col sm:flex-row gap-2 text-slate-600 dark:text-slate-400"
>
    <p>
        Created at{' '}
        <FormattedDate dateString={created} />
    </p>
    <p class="hidden sm:block">||</p>
    <p>
        Updated at{' '}
        <FormattedDate dateString={updated} />
    </p>
</div>
