.link {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
    padding: 8px;
    @apply hover:bg-[#e2e2e2] dark:hover:bg-neutral-800;
}

.link:hover::after {
    @apply animate-pulse;
    content: 'â‡';
}

.text {
    @apply text-light-primary dark:text-dark-primary;
}
