---
import Loader from '~components/loader/linear.astro';
import * as cn from './page-progress.css';
---

<page-progress>
    <div id="wrapper" class={cn.loader} hidden>
        <Loader id="page-loader" />
    </div>
</page-progress>

<script>
    class PageProgress extends HTMLElement {
        loader: HTMLElement | null = null;
        wrapper: HTMLElement | null = null;
        internalLinks: NodeListOf<HTMLAnchorElement> | null = null;

        showLoader = (event: MouseEvent) => {
            if (
                this.wrapper &&
                event.currentTarget instanceof HTMLAnchorElement &&
                event.currentTarget.href !== window.location.href
            ) {
                this.wrapper.hidden = false;
            }
        };

        connectedCallback() {
            this.loader = this.querySelector('#page-loader');
            this.wrapper = this.querySelector('#wrapper');
            this.internalLinks = document.querySelectorAll('a[href^="/"]');

            this.internalLinks?.forEach((link) => {
                link.addEventListener('click', this.showLoader, {
                    once: true,
                });
            });
        }

        disconnectedCallback() {
            this.internalLinks?.forEach((link) => {
                link.removeEventListener('click', this.showLoader);
            });
        }
    }

    customElements.define('page-progress', PageProgress);
</script>
