---
import BaseHead from '~components/base-head.astro';
import Theme from '~scripts/theme.astro';
import Nav from '~components/nav.astro';
import Header from '~components/header.astro';

export type Props = {
    title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} />
        <Theme />
    </head>
    <body class="bg-light-background dark:bg-dark-background">
        <main class="mx-auto max-w-xl px-4 grid gap-6">
            <Header />
            <Nav
                links={[
                    {
                        href: '/',
                        label: 'Notes',
                    },
                    {
                        href: '/lessons-summary',
                        label: 'Lesson summaries',
                    },
                ]}
            />
            <slot />
        </main>
    </body>
</html>
