---
import { Font } from 'astro:assets';
import BaseHead from '~components/base-head.astro';
import Nav from '~components/nav/nav.astro';
import Header from '~components/header/header.astro';
import { DEFAULT_THEME } from '~constants';
import cn from './global.module.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
const themeCookie = Astro.cookies.get('theme');
const theme = themeCookie?.value ?? DEFAULT_THEME;
---

<!doctype html>
<html lang="en" class:list={[cn.page, theme]} style={`color-scheme: ${theme};`}>
    <head>
        <Font cssVariable="--font-inconsolata" preload />
        <BaseHead title={title} />
        <style>
            @view-transition {
                navigation: auto; /* Enable native view transitions */
            }

            body {
                font-family: var(--font-inconsolata);
            }
        </style>
    </head>
    <body>
        <main class={cn.container}>
            <Header />
            <Nav
                links={[
                    {
                        href: '/',
                        label: 'Notes',
                    },
                    {
                        href: '/summaries',
                        label: 'Summaries',
                    },
                    {
                        href: '/blog',
                        label: 'Blog',
                    },
                ]}
            />
            <slot />
        </main>
        {
            process.env.PROD === 'true' && (
                <>
                    <script
                        async
                        is:inline
                        src="https://scripts.simpleanalyticscdn.com/latest.js"
                    />
                    <noscript>
                        <img
                            src="https://queue.simpleanalyticscdn.com/noscript.gif"
                            alt=""
                            referrerpolicy="no-referrer-when-downgrade"
                        />
                    </noscript>
                </>
            )
        }
    </body>
</html>
