.page {
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin: auto;
    max-width: 45rem;
    padding: 0 var(--spacing-md);
}

.iframeDemoContainer {
    width: 100%;
    min-height: 520px;
    border: none;
}
