---
import Link from '~components/link/link.astro';
import { navContainer, linkLabel } from './nav.css';

interface Props {
    links: {
        href: string;
        label: string;
    }[];
}

const { links } = Astro.props;
---

<nav class={navContainer}>
    {
        links.map((link) => (
            <Link class={linkLabel} href={link.href}>
                {link.label}
            </Link>
        ))
    }
</nav>
