---
import Link from '~components/link/link.astro';
import * as cn from './nav.css';

interface Props {
    links: {
        href: string;
        label: string;
    }[];
}

const { links } = Astro.props;
const activePath = Astro.url.pathname;
---

<nav class={cn.navContainer}>
    {
        links.map((link) => {
            const isActivePath = activePath === link.href;

            return (
                <Link
                    class:list={[cn.linkLabel, isActivePath && cn.active]}
                    href={link.href}
                >
                    {link.label}
                </Link>
            );
        })
    }
</nav>
