.link {
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    &:hover {
        text-decoration-line: underline;
    }
}
