---
import type { HTMLAttributes } from 'astro/types';
import cn from './link.module.css';

export type Props = HTMLAttributes<'a'>;

const { class: extraClass, ...props } = Astro.props;
---

<a {...props} class:list={[cn.link, extraClass]}>
    <slot />
</a>
