---
import { cell, container } from './article-banner.css';
import { CELLS_NUM, INDEX_VAR } from './config';
---

<div class={container}>
    {
        Array.from({ length: CELLS_NUM }, (_, idx) => (
            <div class={cell} style={`${INDEX_VAR}: ${idx};`} />
        ))
    }
</div>
